.landing_page {
    width: 100%;
    height: 100%;
}

.section__train {
    height: 500px;
    margin-top: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.img__land {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__aboutUs {
    height: 400px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
    align-items: center;
}

.aboutUs__Info {
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.team__icon {
    height: 85%;
    width: 20%;
}

.team__icon img {
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
