.container {
    min-height: 100vh;
    padding-top: 40px;
}

.parkItem + .parkItem {
    margin-top: 40px;
}

.parkName {
    margin-left: 10px;
}

.parkName h3 {
    position: relative; /* Относительное позиционирование */
    display: inline-block; /* Линия на ширину текста */
}
.parkName h3::after {
    content: ''; /* Выводим пустое содержимое */
    position: absolute; /* Абсолютное позиционирование */
    background: black; /* Цвет линии */
    left: 0; /* Положение линии слева */
    bottom: -5px; /* Положение линии */
    width: 100%; /* Линия на ширину текста */
    height: 2px; /* Высота линии */
}



.container__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.btn_save {
    height: 50px;
    border-radius: 5px;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    background-color: #15386C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
    cursor: pointer;
}
