.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background: white;
    padding: 10px 5%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 140px;
    height: 50px;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.menu_link {
    margin: 0 30px;
    font-weight: 500;
    font-size: 20px;
}

.menu_link a, .menu_link a:active,
.menu_link a:hover {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 130px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: flex-start;
    }

    .menu_link {
        font-size: 18px;
    }
}
